<% provide(:title, 'Dashboard') %>
<h2>Dashboard</h2>

<!-- Tabs -->
<div class="row">
  <div class="span9"><div class="tabbable">
    <ul class="nav nav-tabs">

      <% @services[0...1].each do |service| %>
      <li class="active"><a href="#<%= service.id%>" data-toggle="tab"><%= service.name %></a></li>
      <% end %>

      <% @services[1..-1].each do |service| %>
      <li><a href="#<%= service.id%>" data-toggle="tab"><%= service.name %></a></li>
      <% end %>
    </ul>

    <!-- Individual Tabs -->
    <div class="tab-content">
      <% @services[0...1].each do |service| %>
      <div class="tab-pane active" id="<%= service.id%>">
        <p>Graph <%= service.id%></p>
      </div>
      <% end %>

      <% @services[1..-1].each do |service| %>
      <div class="tab-pane" id="<%= service.id%>">
        <p>Graph <%= service.id%></p>
      </div>
      <% end %>
    </div> <!-- End Individual Tabs -->
  </div></div> <!-- End Tabs -->

  <div class="span3">
    <div class="well">
      <!-- Side Box -->
      <h3>This Month</h3>
      <% @services.each do |service| %>
      <p align="right"><%= service.name%> = </p>
      <% end %>
      <hr>
      <p align="right">Total = </p>
    </div>
  </div><!-- End Side Box -->

</div><!-- End Row -->