<span class="content"><%= project.name %></span>
<br>
<%= project.b_index %>
<%= project.schedule %>
<%= project.ret_per %>
<%= project.status %>

<span class="timestamp">
  Created <%= time_ago_in_words(project.created_at) %> ago.
</span>

  <% if current_user?(project.user) %>
    <%= link_to "delete", project, method: :delete,
                                     data: { confirm: "Are you sure you want to delete this project?" } %>
  <% end %>
<hr>
