<%= menu_group do %>
  <%= menu_item "Home", '/index' %>
  <%= menu_item "About", '/about' %>
  <%= menu_item "Dashboard", '/dashboard' %>
  <%= menu_item "Services", '/services' %>
  <%= menu_item "Billing", '/billing' %>
  <%= menu_item "Help", '/help' %>
<% end %>



<% if signed_in? %>
<ul class="nav pull-right">
  <li><%= link_to "Users", users_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "New Project", '/newproject' %></li>
      <li class="divider"></li>
      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
    </ul>
  </li>
</ul>

<% else %>
<form class="navbar-form pull-right">
  <div class="btn-group">
    <a href="/signin" class="btn btn-primary">
    Log In
    </a>
    <a href="/signup" class="btn btn-primary">
    Sign Up
    </a>
  </div>
</form>
<% end %>

