<%= menu_group do %>
  <%= menu_item "Home", '/home/index' %>
  <%= menu_item "About", '/home/about' %>
  <%= menu_item "Dashboard", '/home/dashboard' %>
  <%= menu_item "Services", '/home/services' %>
  <%= menu_item "Billing", '/home/billing' %>
  <%= menu_item "Help", '/home/help' %>
  <%= menu_item "Signup", signup_path %>
<% end %>
<form class="navbar-form pull-right">
  <input class="span2" type="text" placeholder="Email">
  <input class="input-small" type="password" placeholder="Password">
  <button type="submit" class="btn">Log in</button>
</form>